.banner-wrapper {
  grid-area: banner;
  align-self: center;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    padding: 0 20px;
    cursor: pointer;
  }
}
