.card {
  &-icon {
    &-play {
      position: absolute;
      z-index: 3;
      right: 54px;
      top: 54px;
      bottom: 0;
      display: none;
      transition: opacity 1s ease-in;
      font-size: 48px;
      color: rgb(241, 235, 235);
    }
  }
}
