.song-item-wrapper {
  border-top: 1px solid #ccc;
  padding: 8px 12px 8px 0;

  &-inner {
    display: flex;
    align-items: top;
    gap: 8px;

    & .card-content-wrapper {
      flex: 1;
    }

    & .card-detail-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &:hover {
    & .card-detail-wrapper {
      display: none;
    }

    & .song-functional-wrapper {
      display: block;
    }
  }
}
