.header-wrapper {
  height: 56px;
  text-align: center;
  grid-area: header;
  padding: 0 90px;
  border-bottom: #dadada solid 1px;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 100%;
  justify-items: space-between;
}
