.header {
  &-wrapper {
    height: 56px;
    text-align: center;
    grid-area: header;
    padding: 6px 90px 5px;
    border-bottom: #dadada solid 1px;
  }

  &-inner {
    display: flex;
    height: inherit;
    justify-content: space-between;
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-divider {
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
