.slider-wrapper {
  grid-area: slider;
  max-width: 1200px;
  padding: 16px 0;
  height: auto;

  & .slider-carousel-dots {
    background-color: #fff;
  }

  & .slider-image-wrapper {
    display: grid;

    &-inner {
      align-self: center;
      justify-self: center;
      width: 80%;
      height: auto;
    }
  }
}
