.card {
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 152px;
    height: 152px;
    background: #000;

    & img {
      max-width: 100%;
    }
  }
}
