.home-wrapper {
  display: grid;
  gap: 10px 0;
  grid-template-areas: "header" "main" "footer";
}

.main-wrapper {
  padding: 0 90px;
  grid-area: main;
  display: flex;
  justify-content: center;

  &-inner {
    display: grid;
    gap: 10px 30px;
    grid-template-rows: repeat(6, auto) 195px auto auto repeat(3, auto);
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      "slider slider"
      "playlist-suggestion song-ranking"
      "playlist-suggestion song-ranking"
      "playlist-suggestion song-ranking"
      "new-published mv-ranking"
      "new-published mv-ranking"
      "hot-mv mv-ranking"
      "hot-mv banner"
      "hot-mv hot-topic"
      "song hot-topic"
      "top-hundred ."
      "weekly-artist .";
    max-width: 1200px;
  }
}
