.hot-mv-body {
  display: grid;
  grid-template:
    "first-child first-child second-child second-child" auto
    "first-child first-child second-child second-child" auto
    ". . . ." auto
    ". . . ." auto
    / 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
