.icon {
  display: flex;

  &-small {
    width: 16px;
    height: 16px;
  }

  &-medium {
    width: 28px;
    height: 28px;
  }

  &-large {
    width: 40px;
    height: 40px;
  }

  &-logo {
    width: 80px;
  }
}
