.heading {
  margin-bottom: 10px;
  cursor: pointer;
  color: #2daaed;

  &-title {
    font-size: 30px;
    text-transform: uppercase;
  }

  & .right-outlined {
    margin-left: 4px;
    font-size: 18px;
  }
}
