.card-content {
  &-wrapper {
    &.card-artist {
      display: flex;
      justify-content: center;
    }

    &.card-hot-mv {
      display: flex;
      flex-direction: column;
    }
  }

  &-title {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: #2daaed;
    }
  }
}
