.card {
  width: 152px;
}

.card.card-hot-mv-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &:first-child {
    grid-area: first-child;
  }

  &:nth-child(2) {
    grid-area: second-child;
  }

  &:first-child,
  &:nth-child(2) {
    height: 230px;

    & > div {
      position: absolute;

      &.card-avatar-wrapper {
        width: 100%;
        height: 100%;

        & .card-image-wrapper {
          opacity: 0.7;
        }
      }

      &.card-content-wrapper {
        bottom: 0;
        padding: 12px;
        color: #fff;

        & .card-content-title {
          font-size: 18px;
          font-weight: 500;
          text-shadow: 0 1px 1px rgba(3, 3, 3, 0.7);
        }
      }
    }
  }
}

.card.card-song-ranking-wrapper,
.card.card-mv-ranking-wrapper {
  display: flex;
  flex: 1;
  gap: 8px;
}
