.ranking-list-wrapper {
  &-inner {
    display: grid;
    width: 300px;
    height: 100%;

    &.mv-ranking-list-wrapper-inner {
      grid-template-rows: repeat(5, auto);
    }

    &.song-ranking-list-wrapper-inner {
      grid-template-rows: repeat(10, auto);
    }
  }
}
