.search {
  &-form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 200px;
    height: 32px;
    align-items: center;
    color: rgba(136, 136, 136, 1);
  }

  &-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-input {
    width: 160px;
    height: 32px;
    background-color: transparent;
    font-size: 12px;
    border: 0 solid;

    &:focus {
      outline: none;
    }
  }
}
