.menu {
  &-item {
    &-wrapper {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: #222;

      &:hover {
        color: #2daaed;
      }
    }

    &-image {
      padding-bottom: 5px;
    }
  }
}
